<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactnativegeofences"
  android:installLocation="internalOnly"
  >

  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <uses-feature android:name="android.hardware.location.gps" />
  <uses-feature android:name="android.hardware.location.network" />

  <application android:allowBackup="true" android:noHistory="true" >
    <receiver
      android:name=".HandleReRegisterGeofencesBroadcastReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <!-- Used to watch for Google Play Services data cleared -->
        <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
        <data
          android:scheme="package"
          android:sspPrefix="com.google.android.gms" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.REBOOT" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
      </intent-filter>
    </receiver>

    <meta-data
      android:name="notification_small_icon"
      android:resource="@android:drawable/stat_notify_chat" />

    <receiver
      android:name=".GeofenceBroadcastReceiver"
      android:enabled="true"
      android:exported="true" />
  </application>

</manifest>
